<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1><img src="/images/Qatar2022.jpg"></h1>
    </div>

    <br>

    <div>
        <p>카타르 월드컵 예매 회원가입</p>
    </div>

    <div>
        <button type="button" th:onclick="|location.href='@{/members/new}'|">회원 가입</button>
        <br>
        <button type="button" th:onclick="|location.href='@{/login}'|">로그인</button>
    </div>


</body>
</html>